name: CI
on: [push, pull_request]
jobs:
  test:
    runs-on: macOS-10.15
    steps:
    - uses: actions/checkout@v2.3.4
    - name: Run tests
      env: 
        DEVELOPER_DIR: /Applications/Xcode_12.3.app
      run: swift test
